/* O seletor * é usado para aplicar estilo a todos elementos do DOM */
* {
    
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* O seletor body faz referência ao elemento body do DOM */
body {

    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;

}

/* O seletor :root faz referência ao elemento root do DOM */
:root{
   
    /*color*/
    --dark-blue: #585656;
}

/* A tag html é o nosso root element do DOM*/
html {

    color: rgb(253, 253, 253);

}

#btnRock{

    padding: var(--space-s);
    border: none;
    border-radius: 20px;
    font-size: var(--font-s);
    text-transform: uppercase;
    line-height: 1.48rem;
    width: 50%;
    background-color: #ffffff;
    margin-top: 3%;
}

#btnPaper{

    padding: var(--space-s);
    border: none;
    border-radius: 20px;
    font-size: var(--font-s);
    text-transform: uppercase;
    line-height: 1.48rem;
    width: 50%;
    background-color: #ffffff;
    

}

#btnScissors{

    padding: var(--space-s);
    border: none;
    border-radius: 20px;
    font-size: var(--font-s);
    text-transform: uppercase;
    line-height: 1.48rem;
    width: 50%;
    background-color: #ffffff;
    
}

